@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: hsl(198, 93%, 55%);
  --accent-hover: hsl(198, 93%, 75%);
  --primary-color: hsl(215, 74%, 4%);
  --slate-color: #94abb8;
}

@layer base {
  body {
    @apply font-primary;
  }
}

@layer utilities {
  /* Custom utility to hide scrollbar buttons */
  ::-webkit-scrollbar-button {
    display: none;
  }

  .spinning-animation {
    animation: spin 60s linear infinite;
  }
  .spinning-animation-x {
    animation: spin-x 60s linear infinite;
  }
  .spinning-animation-xy {
    animation: spin-x 60s linear infinite;
    animation-delay: -7.5s;
  }
  .spinning-animation-y {
    animation: spin 60s linear infinite;
    animation-delay: -7.5s;
    opacity: 0.35;
    transition: opacity 1s;
  }

@keyframes spin {
  from {
    transform: rotate(0deg);
    translate: -50% -50%;
  }
  to {
    transform: rotate(360deg);
    translate: -50% -50%;
  }
}

@keyframes spin-x {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
  
}