@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary;
  }
}

@layer utilities {
  /* Custom utility to hide scrollbar buttons */
  ::-webkit-scrollbar-button {
    display: none;
  }

  .spinning-animation {
    animation: spin 32s linear infinite;
  }
  .spinning-animation-x {
    animation: spin-x 32s linear infinite;
  }
  .spinning-animation-xy {
    animation: spin-x 32s linear infinite;
    animation-delay: 4s;
  }
  .spinning-animation-y {
    animation: spin-y 32s linear infinite;
    animation-delay: 4s;
    opacity: 0;
    transition: opacity 1s;
  }

@keyframes spin {
  from {
    transform: rotate(0deg);
    translate: -50% -50%;
  }
  to {
    transform: rotate(360deg);
    translate: -50% -50%;
  }
}
@keyframes spin-y {
  from {
    opacity: 0.66;
    transform: rotate(0deg);
    translate: -50% -50%;
  }
  to {
    opacity: 0.66;
    transform: rotate(360deg);
    translate: -50% -50%;
  }
}
@keyframes spin-x {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
  
}